.navigasi .navbar-brand {
    font-family: 'Bree+serif';
    color: violet;
}

.navbar .nav-item {
    font-weight: 400px;
}

.jumbotron {
    background-color: #00000;
    height: 450px;
    z-index: -1;
    position: relative;

    .display-3 {
        text-shadow: rgba(0, 0, 0, 0.9);
    }
}

.jumbotron::after {}