body {
    background-color: #fff;
    background-size: cover;
    font-family: 'Bree Serif', serif;
}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: rgb(69, 38, 109) !important;

            &.active {
                font-weight: 500;
            }
        }
    }
}

.nav-item:hover {
    border-bottom: 3px solid black;

}

.btn-login {
    background: rgb(248, 52, 52);
    color: #fff;

    &:hover {
        background-color: rgb(190, 42, 42);
    }
}


.bg {
    position: relative;
    background-repeat: no-repeat;

    .container {
        h1 {
            text-align: center;
            color: #000000;
            margin-top: -40px;
            font-family: 'Bree Serif', serif;
        }

    }
}