body {
  background-color: #fff;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light {
  font-family: 'Bree Serif', serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #45266d !important;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-item:hover {
  border-bottom: 3px solid black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-login {
  background: #f83434;
  color: #fff;
}

.btn-login:hover {
  background-color: #be2a2a;
}

.bg {
  position: relative;
  background-repeat: no-repeat;
}

.bg .container h1 {
  text-align: center;
  color: #000000;
  margin-top: -40px;
  font-family: 'Bree Serif', serif;
}

header {
  padding: 200px 0 360px;
  background-size: cover;
  margin-top: -70px;
  margin-bottom: 0;
  background-image: url("../images/imageBg.png");
}

header h1 {
  font-family: 'Bree Serif', serif;
  color: rebeccapurple;
}

header .btnGet {
  background-color: #9c64d4;
  color: white;
}

header .btnGet:hover {
  background-color: #7b5b9b;
  color: black;
}

.barOption {
  margin-top: -50px;
}

.barOption .barDetail {
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.46);
  background-color: #097957;
}

.barOption .barDetail h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.barOption .barDetail p {
  font-size: 17px;
  font-weight: medium;
  color: #302f2f;
}

.menu {
  background-color: #640988;
  margin-top: -55px;
  margin-bottom: -230px;
  min-height: 540px;
}

.menu h1 {
  font-family: 'Bree Serif', serif;
  color: white;
  padding-top: 110px;
}

.menu p {
  color: white;
}

.menuContent .cardContent {
  min-height: 380px;
  padding: 30px;
  background-color: #000;
  color: #fff;
  background-size: cover;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.46);
  margin-bottom: 5px;
}

.menuContent .cardContent .travelCountry {
  font-size: 14px;
  color: white;
}

.menuContent .cardContent .travelPlace {
  font-size: 16px;
  color: black;
  font-family: 'Bree Serif', serif;
}

.menuContent .cardContent .travelButton .btnDetail {
  background-color: #fdbd34;
  color: white;
}

.menuContent .cardContent .travelButton .btnDetail:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.46);
  color: #000000;
}

.seeDetails {
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.seeDetails p {
  color: black;
  font-size: 18px;
}

.seeDetails p:hover {
  color: #06a367;
}

.ourNetwork {
  margin-top: 5px;
  padding-top: 50px;
  margin-bottom: 55px;
}

.ourNetwork h1 {
  font-family: 'Bree Serif', serif;
  color: rebeccapurple;
  margin-top: 10px;
}

.ourNetwork img {
  width: 150px;
  height: 100px;
}

.testimoni {
  min-height: 540px;
  background-color: #640988;
  margin-top: -55px;
  margin-bottom: -230px;
  min-height: 540px;
}

.testimoni h2 {
  font-family: 'Bree Serif', serif;
  padding-top: 120px;
  color: white;
}

.testimoni p {
  color: white;
}

.cardTestimoni .cardTestimoniItem {
  min-height: 320px;
  background-color: #b4b4b4;
  background-size: cover;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.46);
  margin-bottom: 5px;
}

.cardTestimoni .cardTestimoniItem img {
  padding-top: 50px;
}

.cardTestimoni .cardTestimoniItem p {
  border-bottom: 1px solid black;
  padding-bottom: 55px;
}

.sideBar {
  background-color: white;
}

.footerRow h5 {
  font-family: 'Bree Serif', serif;
  color: rebeccapurple;
}

.footerRow a {
  color: black;
}

.footerRow a:hover {
  font-weight: bold;
}

.minHgBreadCrumb {
  margin-top: -30px;
  background-color: #dddddd;
  min-height: 285px;
}

.bgBreadCrumb {
  margin-top: -240px;
  min-height: 100vh;
}

.bgBreadCrumb .breadCrumbItem a {
  color: black;
}

.bgBreadCrumb .breadCrumbItem span.active {
  font-weight: bold;
  color: black;
}

.bgBreadCrumb .imageLeft {
  padding: 20px;
}

.bgBreadCrumb .imageLeft .bromo {
  color: #7c7c7c;
  padding-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.bgBreadCrumb .imageLeft .features {
  margin-top: 15px;
}

.bgBreadCrumb .imageLeft .features .description {
  padding-left: 3px;
  overflow: hidden;
  float: left;
}

.bgBreadCrumb .imageLeft .features .description h6 {
  margin-bottom: 0;
}

.bgBreadCrumb .imageLeft .features .description p {
  color: #7c7c7c;
  margin-top: 0;
}

.bgBreadCrumb .imageLeft .features .description .features-image {
  float: left;
  padding-top: 5px;
}

.bgBreadCrumb .gallery .xzoom-container {
  display: block;
}

.bgBreadCrumb .gallery .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.bgBreadCrumb .gallery .xactive {
  border: 3px solid #046efa;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bgBreadCrumb .joinContainer {
  margin-top: -15px;
}

.bgBreadCrumb .joinContainer .btn-joinNow:hover {
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.46);
}
/*# sourceMappingURL=main.css.map */