body {
    background-color: #fff;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    font-family: 'Bree Serif', serif;

    .navbar-nav {

        .nav-link {
            color: rgb(69, 38, 109) !important;

            &.active {
                font-weight: 500;
            }


        }


    }
}

.nav-item:hover {
    border-bottom: 3px solid black;
    transition: transform 0.2s;
    transform: scale(1.1);

}

.btn-login {
    background: rgb(248, 52, 52);
    color: #fff;

    &:hover {
        background-color: rgb(190, 42, 42);
    }
}


.bg {
    position: relative;
    background-repeat: no-repeat;

    .container {
        h1 {
            text-align: center;
            color: #000000;
            margin-top: -40px;
            font-family: 'Bree Serif', serif;
        }

    }
}

// Header
header {
    padding: 200px 0 360px;
    // background-repeat: no-repeat;
    background-size: cover;
    margin-top: -70px;
    margin-bottom: 0;
    background-image: url("../images/imageBg.png");

    h1 {

        font-family: 'Bree Serif', serif;
        color: rebeccapurple;

    }

    .btnGet {
        background-color: rgb(156, 100, 212);
        color: white;

        &:hover {
            background-color: rgb(123, 91, 155);
            color: black;
        }
    }
}

// barOptions
.barOption {
    margin-top: -50px;


    .barDetail {
        box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.46);
        background-color: rgb(9, 121, 87);

        // border-radius: 4px;
        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }

        p {
            font-size: 17px;
            font-weight: medium;
            color: rgb(48, 47, 47);
        }
    }
}

.menu {
    background-color: rgb(100, 9, 136);
    // z-index: -1;
    margin-top: -55px;
    margin-bottom: -230px;
    min-height: 540px;


    h1 {
        font-family: 'Bree Serif', serif;
        color: white;
        padding-top: 110px;
    }

    p {
        color: white;
    }
}

.menuContent {

    .cardContent {
        min-height: 380px;
        padding: 30px;
        background-color: #000;
        color: #fff;
        background-size: cover;
        padding-bottom: 20px;
        box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.46);
        margin-bottom: 5px;

        .travelCountry {
            font-size: 14px;
            color: white;
        }

        .travelPlace {
            font-size: 16px;
            color: black;
            font-family: 'Bree Serif', serif;
        }

        .travelButton {
            .btnDetail {
                background-color: rgb(253, 189, 52);
                color: white;

                &:hover {
                    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.46);
                    color: #000000;
                }
            }
        }
    }
}

.seeDetails {
    border-bottom: 1px solid black;
    margin-bottom: 0;

    p {
        color: black;
        font-size: 18px;


        &:hover {
            color: rgb(6, 163, 103);
        }
    }
}

.ourNetwork {
    // background-color: rgb(243, 14, 14);
    margin-top: 5px;
    padding-top: 50px;
    margin-bottom: 55px;


    h1 {
        font-family: 'Bree Serif', serif;
        color: rebeccapurple;
        margin-top: 10px;
    }

    img {
        width: 150px;
        height: 100px;
    }
}

.testimoni {
    min-height: 540px;
    background-color: rgb(100, 9, 136);
    margin-top: -55px;
    margin-bottom: -230px;
    min-height: 540px;

    h2 {
        font-family: 'Bree Serif', serif;
        padding-top: 120px;
        color: white;
    }

    p {
        color: white;
    }
}

.cardTestimoni {
    .cardTestimoniItem {
        min-height: 320px;
        background-color: rgb(180, 180, 180);
        background-size: cover;
        padding-bottom: 20px;
        box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.46);
        margin-bottom: 5px;


        img {
            padding-top: 50px;
        }

        p {
            border-bottom: 1px solid black;
            padding-bottom: 55px;
        }

    }
}

.sideBar {
    background-color: rgb(255, 255, 255);
}

.footerRow {
    h5 {
        font-family: 'Bree Serif', serif;
        color: rebeccapurple;
    }

    a {
        color: black;

        &:hover {
            font-weight: bold;
        }
    }
}

.minHgBreadCrumb {
    margin-top: -30px;
    background-color: rgb(221, 221, 221);
    min-height: 285px;
}

// section detailPage
.bgBreadCrumb {
    margin-top: -240px;
    min-height: 100vh;


    .breadCrumbItem {
        a {
            color: black;
        }

        span {
            &.active {
                font-weight: bold;
                color: black;
            }
        }
    }

    // imageLeft
    .imageLeft {
        padding: 20px;

        .bromo {
            color: #7c7c7c;
            padding-bottom: 10px;
            border-bottom: 1px solid #cdcdcd;
        }

        .features {
            margin-top: 15px;


            .description {
                padding-left: 3px;
                overflow: hidden;
                float: left;


                h6 {
                    margin-bottom: 0;
                }

                p {
                    color: #7c7c7c;
                    margin-top: 0;
                }

                .features-image {
                    // width: 45px;
                    // height: 45px;
                    float: left;
                    padding-top: 5px;

                }
            }
        }


    }

    .gallery {
        .xzoom-container {
            display: block;
        }

        .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }

        .xactive {
            border: 3px solid #046efa;
            box-shadow: none;
        }
    }

    // carddetails
    .card-details {
        .tripInformation {
            th {
                font-weight: 400;
                font-size: 17px;
            }
        }
    }

    .joinContainer {
        margin-top: -15px;

        .btn-joinNow {
            &:hover {
                box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.46);
            }
        }
    }

}

// checkout page
.backgroundBreadCrumb {
    .breadCrumbItem {
        a {
            color: #000000;
        }

        span {
            &.active {
                font-weight: bold;
                color: black;
            }
        }
    }

    .checkout-details {
        .checkoutLeft {

            .members {
                .btnAddNow {


                    &:hover {
                        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.46);

                    }

                }
            }
        }

        .cardCheckout {
            th {
                font-weight: 400;
                font-size: 16px;
                color: #7c7c7c;
            }

            td {
                font-size: 16px;
                color: #7c7c7c;

                &.active {
                    font-size: 18px;
                    font-weight: bold;
                    color: #000000;
                }
            }

            p {
                font-size: 14px;
            }

            .bank {
                padding-left: 3px;
                overflow: hidden;
                float: left;

                .bankItem {
                    float: left;
                    margin-right: 6px;
                }

                .bankDetail {
                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .btn-cancel {
                color: #000000;

                &:hover {
                    color: red;
                }
            }
        }
    }
}

// successpage
.successPage {
    .fadeIn {
        margin-top: 120px;
        margin-bottom: 30px;
        animation: fade-in 2s;

        @keyframes fade-in {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    button {
        &:hover {
            box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.46);
        }
    }
}