body {
    background-color: #fff;
    background-size: cover;
}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.nav-item:hover {
    border-bottom: 3px solid black;

}

.btn-login {
    background: rgb(248, 52, 52);
    color: #fff;

    &:hover {
        background-color: rgb(190, 42, 42);
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 55px;
}


.bg {
    position: relative;
    background-repeat: no-repeat;

    .container {
        h1 {
            text-align: center;
            color: #000000;
            margin-top: -450px;
        }

    }
}