body {
    background-color: #fff;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    font-family: 'Bree Serif', serif;

    .navbar-nav {

        .nav-link {
            color: rgb(69, 38, 109) !important;

            &.active {
                font-weight: 500;
            }
        }
    }
}

.nav-item:hover {
    border-bottom: 3px solid black;

}

.btn-login {
    background: rgb(248, 52, 52);
    color: #fff;

    &:hover {
        background-color: rgb(190, 42, 42);
    }
}


.bg {
    position: relative;
    background-repeat: no-repeat;

    .container {
        h1 {
            text-align: center;
            color: #000000;
            margin-top: -40px;
            font-family: 'Bree Serif', serif;
        }

    }
}

// Header
header {
    padding: 200px 0 360px;
    // background-repeat: no-repeat;
    background-size: cover;
    margin-top: -70px;
    margin-bottom: 0;
    background-image: url("../images/imageBg.png");

    h1 {

        font-family: 'Bree Serif', serif;
        color: rebeccapurple;

    }

    .btnGet {
        background-color: rgb(156, 100, 212);
        color: white;

        &:hover {
            background-color: rgb(123, 91, 155);
            color: black;
        }
    }
}

// barOptions
.barOption {
    margin-top: -50px;

    .barDetail {
        background-color: rgb(9, 121, 87);

        // border-radius: 4px;
        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }

        p {
            font-size: 17px;
            font-weight: medium;
            color: rgb(48, 47, 47);
        }
    }
}

.menu {
    background-color: rgb(100, 9, 136);
    // z-index: -1;
    margin-top: -55px;
    margin-bottom: -230px;
    min-height: 540px;


    h1 {
        font-family: 'Bree Serif', serif;
        color: white;
        padding-top: 110px;
    }

    p {
        color: white;
    }
}

.menuContent {

    .cardContent {
        min-height: 380px;
        padding: 30px;
        background-color: #000;
        color: #fff;
        background-size: cover;
        padding-bottom: 20px;
        box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.46);
        margin-bottom: 5px;

        .travelCountry {
            font-size: 14px;
            color: white;
        }

        .travelPlace {
            font-size: 16px;
            color: black;
            font-family: 'Bree Serif', serif;
        }

        .travelButton {
            .btnDetail {
                background-color: rgb(253, 189, 52);
                color: white;

                &:hover {
                    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.46);
                    color: #000000;
                }
            }
        }
    }
}

.seeDetails {
    border-bottom: 1px solid black;
    margin-bottom: 0;

    p {
        color: black;
        font-size: 18px;


        &:hover {
            color: rgb(6, 163, 103);
        }
    }
}

.ourNetwork {
    background-color: rgb(243, 14, 14);
    margin-top: 5px;

    h1 {
        font-family: 'Bree Serif', serif;
        color: rebeccapurple;
        margin-top: 10px;
    }

    img {
        width: 150px;
        height: 100px;
    }
}